@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
.container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  border: 8px;
  margin: 10px;
  padding: 8px;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
}

.logo-placeholder {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  justify-content: center;
  border: 8px;
  margin: 10px;
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.nav-button {
  background: #fff;
  border: none;
  padding: 12px;
  gap: 10px;
}

.nav-button:hover {
  background: #6070ff;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
}

.nav-button:active {
  background: #2230d2;
}

.headline {
  display: flex;
  align-items: center;
  height: 480px;
  padding: 114px 24px;
  flex-wrap: wrap;
}

.primary-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 25%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.description {
  height: 25%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: flex-start;
}

.social-media {
  /* display: flex;
  flex-wrap: wrap; */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  height: 25%;
  width: 100%;
  align-items: flex-start;
}

#twitter {
  position: relative;
  top: 10px;
}

#linkedin {
  position: relative;
  left: 10px;
  top: 10px;
}

#M {
  position: relative;
  left: 20px;
  top: 10px;
}

#github {
  position: relative;
  left: 30px;
  top: 10px;
}

#victory {
  position: relative;
  left: 40px;
  top: 10px;
}
