@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

.container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  border: 8px;
  margin: 10px;
  padding: 8px;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
}

.logo-placeholder {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  justify-content: center;
  border: 8px;
  margin: 10px;
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

.container-headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url("images/header.svg");
  background-repeat: repeat;
}

.headline {
  display: flex;
  padding: 50px 24px;
  flex-wrap: wrap;
}

.primary-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: flex-start;
}

.social-media {
  height: 25%;
  width: 50%;
  align-items: flex-start;
}

.media-icons {
  margin-top: 12px;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
}

#media-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.icon-list {
  display: inline-flex;
}

.project {
  display: grid;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 75px;
}

#last-project {
  margin-bottom: 100px;
}

.project-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy-segment {
  display: flex;
  align-items: center;
}

.canopy {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: 0;
  margin-left: 16px;
}

.canopy-items {
  display: flex;
  list-style: none;
  gap: 12px;
  align-items: center;
  padding: 0;
  margin: 12px;
}

.item {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-description {
  margin: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.coding-languages {
  display: flex;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
  padding: 0;
  margin-left: 16px;
  gap: 8px;
}

.item-languages {
  background: #ebebff;
  border-radius: 8px;
  align-self: center;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.see-project {
  width: 126px;
  height: 48px;
  margin-left: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: 0.2s linear;
}

.see-project:enabled {
  color: #6070ff;
  background-color: #fff;
}

.see-project:hover {
  color: #fff;
  background: #6070ff;
}

.see-project:active {
  color: #fff;
  background: #2230d2;
}

.see-project:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: solid #5e6c84;
}

.about-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headline-about {
  display: flex;
  padding: 50px 24px;
  flex-wrap: wrap;
}

#resume {
  width: 165px;
  margin-top: 20px;
  margin-bottom: 75px;
  margin-left: 0;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}

#lang {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 36px;
  margin-right: 64px;
  display: flex;
  justify-content: space-between;
}

.coding-languages-images {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-left: 36px;
}

.framework {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 66px;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  margin-top: 15px;
  align-self: center;
  background: #dfe1e6;
}

.skill {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 66px;
  margin-top: 24px;
}

.contact-me {
  display: grid;
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
}

#contact-div {
  display: flex;
  justify-content: center;
  background-image: url(images/Contact\ me.png);
  background-size: cover;
  padding: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
}

#contact-line {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 70px;
  margin-bottom: 0;
}

#ellipse-3 {
  position: absolute;
  right: 0;
  top: 40px;
}

#ellipse-5 {
  position: absolute;
  bottom: 35px;
  right: 75px;
}

#ellipse-12 {
  position: absolute;
  top: 60px;
  left: 150px;
}

#rectangle-4 {
  position: absolute;
  right: 0;
  top: 15px;
}

#rectangle-7 {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

#contact-para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

#input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 300px;
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
}

textarea {
  resize: none;
}

#get-in-touch {
  width: 130px;
  height: 45px;
}
